.in-regis{
    border: none;
    width: 12rem;
    padding: 0.5rem;
    color: rgb(255, 255, 255);
    font-weight: 600;
    border-radius: 5px;
    background:rgba(0, 0, 0, 0.5);
}

.general-crud-form{
    width: 100%;
    min-height: 90vh;
}


.view-btn-1{
    height: 3rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.795);
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: sticky;
    top: 0px;
    .btn-v-1{
        width: 2rem;
        height: 2rem;
        background: url(./add.svg);
    }    
    }

.add-task{
    position: fixed;
    right: -15.5rem;
    max-width:20rem;
    display: flex;
    flex-direction: row;
    transition: right 250ms linear;
    margin-top: 0.1rem;
    margin-right: 0.3rem;

    .crud-form{
        .form-push{
         min-width: 30%;
         padding: 1rem;
         min-height: 35vh;
         display: flex;
         flex-direction: column;
         flex-wrap: wrap;
         background-color: rgba(0, 0, 0, 0.5);  
         backdrop-filter: blur(15px);
         border-radius: 1rem;
         .title-form{
             display: flex;
             justify-content: center;
             align-items: center;
             text-decoration: none;
             font-size: 1.2rem;
             color: rgb(255, 255, 255);
             margin-bottom: 1rem;
             font-weight: 600;
         }
         .form-register{
             display: flex;
             justify-content: center;
             align-items: center;
             flex-direction: column;
             .input-taks{
                 margin: 0.4rem;
                 display: flex;
                 flex-direction: column;
                 color: white;
                 .in-regis-btn{
                    border: none;
                    width: 12rem;
                    outline: none;
                    padding: 0.5rem;
                    text-transform: capitalize;
                    color: rgb(255, 255, 255);
                    font-weight: 600;
                    border-radius: 5px;
                    background:#3DB2FF;
                    &:focus {
                        background: red;
                    }
                 }
             }
         }
        }
     }
}
